<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>

<body>
    <h1>Log in</h1>
    <form id="login-form" action="/login" method="POST">
        <label for="username"></label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="passsword"></label>
        <input type="password" id="password" name="password" requred>
        <button type="submit">Log In</button>
    </form>
    <script src="../../frontend/scripts/app.js"></script>
</body>

</html>