@use "./variables" as *;

.how-it-works {
    height: 100vh;
    background-color: $neutralGray;
}

.how-it-works .how-it-works-header {
    text-align: center;
}

.how-it-works .carousel .carousel-inner .carousel-item {
    text-align: center;
}





