@use './variables' as *;



@media (max-width: $desktops) {
    // feature section

    .features {
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;

        .psych-assessments, .personalized-strategies {
            width: 47%;
        }

        .risk-management-techniques {
            margin-top: 1rem;
            width: 97%;
            height: 39vh;
        }

        .feature-container .feature-description {
            padding: 0.75rem 1rem;
        }

        .feature-container h3 {
            bottom: 16%;
        }
    }
    
        // how it works section
    .how-it-works {
        height: 80vh;

        .carousel .carousel-inner .carousel-item, .carousel-slide-text-p {
            text-align: center;
        }
    }

    // call to action section
    .call-to-action .wrapper {

        .call-to-action-text {
            width: 50%;
        }

        .contact-form {
            width: 40%;
        }

        .call-to-action-form-container {
            width: 100%;
            flex-direction: column;

            .password {
                width: 100%;
                margin: 0 0;
                margin-bottom: 1rem;
            }

            .submit-btn {
                width: 50%;
                padding: 0.5rem;
            }

            .email {
                width: 100%;
                margin: 0 0;
                margin-bottom: 1rem;
            }


        }
    }

    // footer 
    footer .wrapper {
        .site-footer-container {
            height: 70%;
        }

        .legal-footer-container {
            margin-top: 2rem;
        }
    }

}

@media (max-width: $laptops) {
    // footer
    footer {
        height: auto;

        .wrapper .site-footer-container {
            flex-direction: column;
            align-items: center;

            .logo-icon-container {
                align-self: flex-start;
            }

            .footer-nav-container {
                width: 100%;
                margin-top: 2rem;
            }

            .footer-nav-container .company,
            .footer-nav-container .resources {
                height: 100%;
                margin-right: 2rem;
            }

            .footer-nav-container .company .footer-heading-ul,
            .footer-nav-container .resources .footer-heading-ul,
            .footer-nav-container .attributes .footer-heading-ul {
                padding-bottom: 1rem;
            }
        }

        .wrapper .legal-footer-container {
            padding: 1rem 0;
        }


    }
}

