<footer>
    <div class="wrapper">
        <div class="site-footer-container">
            <!-- one div for logo and copyright -->
            <!-- create a div to hold the rest of the items for extended links like terms and service, privacy policy, about us, etc -->
            <div class="logo-icon-container">
                <!-- For logo, text, and social media icons -->
                <h2 class="logo footer-heading">PsychTrade</h2>
                <ul class="icon-list">
                    <li>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="footer-nav-container">
                <!-- to hold 4 main sections of page, solutions, company, features and education -->
                <nav class="company">
                    <h4 class="footer-heading-ul">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Psychology Tests</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <nav class="resources">
                    <h4 class="footer-heading-ul">Resources</h4>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Currency Tracker</a></li>
                    </ul>
                </nav>

                <nav class="attributes">
                    <h4 class="footer-heading-ul">Attributions</h4>
                    <ul>
                        <li><a href="https://storyset.com/data">Data illustrations by Storyset</a></li>
                        <li><a href="https://storyset.com/education">Education illustrations by Storyset</a></li>
                        <li><a href="https://storyset.com/data">Data illustrations by Storyset</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="legal-footer-container">
            <!-- To hold copyright and terms of service stuff -->
            <p class="copyright">@psychtrade 2023</p>
            <nav class="legal">
                <ul class="legal-list">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>