html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 300;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

a,
button,
input,
li,
p {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: url(../assets/viktor-forgacs-3PyBkxgTiL0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
header .header-nav {
  background-color: #002a5c;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  border-bottom: #fff 5px solid;
  position: fixed;
  z-index: 100;
}
header .header-nav li {
  padding: 0 1.25rem;
}
header .header-nav a {
  color: #fff;
  position: relative;
  transition: 0.2s ease-out;
}
header .header-nav a:hover {
  color: #ffc72c;
}
header .header-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  background-color: rgba(112, 112, 112, 0.3);
  width: 100%;
}
header .header-hero-section .header-text {
  width: 75%;
  padding: 1rem;
}
header .header-hero-section .header-text .company-name {
  font-weight: 800;
  font-size: 3rem;
}
header .header-hero-section .header-text .psych {
  color: #ffc72c;
  transition: background-color 0.5s ease;
}
header .header-hero-section .header-text .trade {
  color: #002a5c;
  transition: background-color 0.7s ease;
}
header .header-hero-section .header-text .psych:hover {
  background-color: rgba(0, 42, 92, 0.7);
}
header .header-hero-section .header-text .trade:hover {
  background-color: rgba(255, 199, 44, 0.7);
}
header .header-hero-section .header-text h1,
header .header-hero-section .header-text h2,
header .header-hero-section .header-text p {
  padding: 1rem;
}

.features {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  height: 90vh;
}
.features .feature-container {
  background-color: rgba(112, 112, 112, 0.5);
  position: relative;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.features .feature-container h3 {
  position: absolute;
  bottom: 10%;
  font-size: 2rem;
  width: 50%;
  margin-left: 1rem;
  transition: bottom 0.3s ease;
}
.features .feature-container .feature-description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: top 0.3s, opacity 0.3s;
  padding: 0 1rem;
}
.features .feature-container.active {
  background-color: #002a5c;
  color: rgba(255, 199, 44, 0.8);
}
.features .feature-container.active h3 {
  bottom: 40%;
}
.features .feature-container.active .feature-description {
  top: 70%;
  opacity: 1;
}
.features .psych-assessments .background-cover.active,
.features .risk-management-techniques .background-cover.active,
.features .personalized-strategies .background-cover.active {
  background-color: rgba(0, 42, 92, 0.9);
}
.features .psych-assessments,
.features .personalized-strategies {
  width: 49%;
  height: 40vh;
}
.features .personalized-strategies {
  background-image: url("../assets/personalized-strategies.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.features .psych-assessments {
  margin-right: 1rem;
  background-image: url("../assets/psych-assessments.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.features .psych-assessments .background-cover,
.features .risk-management-techniques .background-cover,
.features .personalized-strategies .background-cover {
  height: 100%;
  border-radius: 10px;
  background-color: rgba(112, 112, 112, 0.3);
  transition: background-color 0.3s ease;
}
.features .risk-management-techniques {
  margin-top: -1rem;
  width: 100%;
  height: 40vh;
  background-image: url("../assets/risk-management-techniques.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.how-it-works {
  height: 90vh;
  background-color: #707070;
}

.how-it-works .how-it-works-header {
  text-align: center;
}

.how-it-works .full-height {
  height: 100%;
}

.how-it-works .half-height {
  height: 50%;
}

.how-it-works .carousel .carousel-inner::after {
  text-align: center;
  background-color: rgba(112, 112, 112, 0.8);
  z-index: 1;
}

.how-it-works .carousel .carousel-inner .carousel-item-1 {
  background-image: url("../../assets/take-the-assessment-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.how-it-works .carousel .carousel-inner .carousel-item-2 {
  background-image: url("../../assets/analysis-and-recommendations-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.how-it-works .carousel .carousel-inner .carousel-item-3 {
  background-image: url("../assets/empower-your-trading-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.how-it-works .carousel .carousel-inner .carousel-item .background-filter {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.how-it-works .carousel .carousel-inner .carousel-item .carousel-slide-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.how-it-works .carousel .carousel-inner .carousel-item .carousel-slide-title h3 {
  position: absolute;
  top: 40%;
}

.how-it-works .carousel .carousel-inner .carousel-item .carousel-slide-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.how-it-works .carousel .carousel-inner .carousel-item .carousel-slide-text p {
  position: absolute;
  bottom: 40%;
}

.how-it-works .carousel-control-next .carousel-control-next-icon {
  color: #ffc72c;
}